:root {
  --highlight-color: #2196f3;
  --body-color: #212121;
  --logo-color: #ffffff;
  --main-background-color: #2f303a;
  --p-main-color: #757575;
  --links-footer-color: rgba(255, 255, 255, 0.6);
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--body-color);
}

.logo-main {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: inherit;
  margin-right: 93px;
}

.logo-primary {
  color: var(--highlight-color);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  padding-left: 252px;
  padding-right: 252px;
  padding-top: 104px;

  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.h2-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  padding-bottom: 50px;
}
.h3-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 30px;
}
.h3-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.h3-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.header-color {
  color: #757575;
}
.p-main {
  font-size: 14px;
  line-height: 1.71;
  color: var(--p-main-color);

  letter-spacing: 0.03em;
}
.li-main {
  margin-right: 30px;
}

.p-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--p-main-color);
  padding-bottom:16px;
}
.a-main {
  text-decoration: none;
}
.ul-main {
  list-style-type: none;}

  .ul-client{
    gap:30px;
  }

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;

  letter-spacing: 0.03em;
}
.logo-primary {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--highlight-color);
}

.logo-secondary-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}
.links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.links:focus {
  color: var(--highlight-color);
}
.active {
  color: var(--highlight-color);
  position:relative;
}

.active::after{
  content:"";
  border-bottom:solid 4px var(--highlight-color);
  width:53px;
  color:var(--highlight-color);
  display: block;
  position:absolute;
  bottom:-32px;

  


 
}

.links:hover {
  color: var(--highlight-color);
}
.links-footer:focus {
  color: var(--highlight-color);
}
.links-footer:hover {
  color: var(--highlight-color);
}
.button-portfolio:hover {
  background-color: var(--highlight-color);
  color: var(--logo-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  
}
.button-portfolio:focus {
  background-color: var(--highlight-color);
  color: var(--logo-color);
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  border:none;
}
.links-footer {
  color: var(--links-footer-color);
  font-style: normal;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  
}
address > ul > li > p {
  color: var(--logo-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-main {
  background-color: var(--main-background-color);
  color: var(--logo-color);
  padding-top: 60px;
  padding-bottom: 60px;
  
}
.button-main {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  padding: 10px 41px 10px 42px;
  margin-bottom: 104px;
  left: 700px;
  top: 430px;
  color: var(--logo-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border:none;
}
.button-portfolio {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 4px;
  margin-bottom: 30px;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.figcaption-main {
  border-bottom: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  padding-left: 24px;
  align-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.img-portfolio {
  vertical-align: bottom;
}
.container {
  width: 1200px;
}
.flex-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul-flex {
  display: flex;
}
.li-button {
  margin-right: 8px;
}
.button-flex {
  justify-content: center;
}

.nav-main {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.li-flex {
  margin-right: 32px;
}
.li-about-us {
  margin-right: 30px;
}
.li-contact {
  margin-left: 371px;
}
.section-main {
  display: flex;
width:1600px;
  background-image:linear-gradient(#2F303A66, #2F303A66),
url('../images/Img.jpg');

background-color: var(--main-background-color);
margin:0 auto;  
color: var(--logo-color);}



.ul-flex {
  display: flex;
}
.section-about {
  display: flex;
}
.section-team {
  display: flex;

  background: #f5f4fa;
}
header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  display: flex;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.figure-team {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  
  
  border-radius: 0px 0px 4px 4px;

  text-align: center;
}
.li-team {
 gap:30px;
}
.portfolio-img {
  flex-wrap: wrap;
  gap: 30px;
}
.contact-icon {
  vertical-align: middle;
  fill:#757575;
margin-right:10px;}
  
.header-icon:hover svg,
.header-icon:focus svg{ fill:var(--highlight-color);} 

.atuts-icon{
    fill:#212121;
  }
  .lorem-icon{
  padding: 25px 102.34px;
  margin-bottom: 30px;
  background: #F5F4FA;
border-radius: 4px;}

.social-icons-container{
Padding-left:30px;
padding-right:30px;
padding-top:16px;
padding-bottom:32px;}
.li-clients:hover,
.li-clients:focus{border: 1px solid var(--highlight-color);
cursor:pointer;}

.li-clients:hover svg,
.li-clients:focus svg{
fill:var(--highlight-color);}

.li-clients{
  border: 1px solid 
 #AFB1B8;
 border-radius: 4px;
 padding:16px 32px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
 }

.social-content{

  align-items: center;
}
.footer-icon{
  fill:#ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
}


.container-team{
  margin-bottom:32px;
}
.container-footer{
  display: flex;
  align-items: center;
 
}

.div-main{
  margin:0;

}
.div-secondary{
  margin-left:70px;}

  .figure-portfolio{transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position:relative;
}
.portfolio-img>li:hover{
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.figure-portfolio:hover .technocrack-container
 {
  opacity:1; 
  transform: scale(1);
  transform: translateY(0);
  
  
}
.social.icons-team{border-radius: 50%;
}

.ul-team {
  padding-right:32px;
  padding-left:32px;
  padding-bottom:30px;
  padding-top:16px;
}



.a-team:hover svg,.icon-svg:focus{ 
fill:#ffffff;
}

.a-team{padding:12px;
display:flex;
justify-content: center;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-team:hover, .a-team:focus{
background-color:var(--highlight-color);
border-radius:50%;
}

.a-footer{
  padding:12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display:flex;
justify-content: center;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.a-footer:hover,
.a-footer:focus{
  background-color:var(--highlight-color);
}
.ul-footer{gap:10px;
}

.is-hidden{opacity: 0;
visibility: hidden;
pointer-events: none;
transform:scale(0);






}
.close-btn{position: absolute;
top:8px;
right:8px;
width:30px;
height:30px;
background-color: #fff;
border:1px solid rgba(0,0,0,0.1);
border-radius: 50%;
cursor:pointer;
}
.overlay{
  display:flex;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#00000033;
  justify-content: center;
  align-items: center;

  
  
}

.modal
{width:530px;
height: 580px;
position: relative;
background: #fff;
transform: scale(1);
transition:transform 250ms linear;

}
.overlay.is-hidden .modal {

transform: scale(0);}

.about-us-text{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height:1,14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
color:#ffffff;
text-align: center;
background-color: #2F303ACC;
position:absolute;
padding-top:27px;
padding-bottom:27px;
width:370px;
left:0;
bottom:0}



.about-us-box{
  position:relative;
display: flex;
}
.technocrack-container{
position:absolute;
opacity: 0; 
transform:scale(0);
transform: translatey(100%);
transition: transform 250ms ease;
top:0;
left:0;}

.technocrack-text{font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 18px;line-height: 1.55;
letter-spacing: 0.03;
background-color: rgba(33, 150, 243, 0.9);
color:#ffffff;
padding-left:24px;
padding-top:49px;
padding-bottom:49px;
padding-right:45px;
}
  
.technocrack-div{
  overflow:hidden;
}